.hero-container {
    width: 100%;
    background-color: black;
    position: relative;
}

.image-container img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    opacity: .5;
}

.hero-title_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-title_container h1 {
    text-transform: uppercase;
    font-size: 52px;
    color: #ffff;
    font-weight: 200;
    line-height: 52px;
}

.hero-title_container h2 {
    color: #ffff;
    background-color: var(--color-dark);
    margin: 1rem 0;
    padding: .4rem;
    width: 70%;
}

.hero-title_container a {
    padding: 1rem 2rem;
    border: none;
    margin: 1rem;
    cursor: pointer;
    transition: .2s ease;
    background-color: var(--color-dark);
    color: #ffff;
    display: flex;
    align-items: center;
    gap: .4rem;
    font-size: 22px;
    text-decoration: none;
}

.hero-title_container a svg {
    font-size: 24px;
    color: #25D366;
}

.hero-title_container a:hover {
    transform: scale(1.1, 1.1);
}

@media screen and (max-width: 900px) {

    .image-container img {
        width: 100%;
        height: 45vh;
    }

    .hero-title_container {
        width: 100%;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .hero-title_container h1 {
        font-size: 38px;
        width: 100%;
        line-height: 36px;
    }

    .hero-title_container h2 {
        font-size: 18px;
        text-align: center;
        width: 100%;
    }

    .hero-title_container a {
        margin: 0 1rem;
    }

}