.about-container {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    padding: 6rem;
}

.about-container img {
    width: 480px;
    height: 680px;
    object-fit: cover;
}

.about-content {
    color: white;
    padding: 0 2rem;
    width: 50%;
}

.about-container h2{
    margin: 1rem 0;
    font-size: 52px;
    color: var(--color-primary);
    width: 60%;
}

.about-container p{
    font-size: 16px;
    width: 70%;
    padding: 1rem 0;
}

@media screen and (max-width: 900px) {
    .about-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        height: auto;
    }
    
    .about-container img {
        width: 280px;
        height: 200px;
        object-position: 10% 15%;
        object-fit: cover;
    }
    
    .about-content {
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .about-container h2{
        margin: 1rem 0;
        font-size: 38px;
        width: 100%;
    }
    
    .about-container p{
        font-size: 20px;
        width: 100%;
        padding: 1rem 0;
    }
}