.header-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem 0;
}

.logo-container img {
    width: 80px;
}

.header-content ul {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

.header-content ul li {
    cursor: pointer;
    font-size: 18px;
}

.social-container a svg{
    cursor: pointer;
    color: black;
    font-size: 22px;
}

.social-container a svg:hover {
    opacity: .7;
}