* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-primary: #f1f952; /* Amarelo claro */
  --color-secondary: #6366f1; /* Azul */
  --color-light: #d3d3d3; /* Cinza claro */
  --color-dark: #1d1e20; /* Preto escuro */
}

h1, h2, h3, h4, h5 {
  font-family: "Courier Prime", monospace;
  font-weight: 200;
}

li {
  font-family: "Courier Prime", monospace;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 28px;
}

.mark_2 {
  font-weight: 500;
}

/* estilização do scroll-bar */

::-webkit-scrollbar {
  width: 6px;
  background-color: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background-color: #1d1e20;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}